<p>
  <strong>Title:</strong>
  <%= @route.title %>
</p>
<p>
  <strong>Stations list:</strong>
  <% if @route.railway_stations.empty? %>
    There are no stations
  <% else %>
    <table>
      <thead>
        <tr>
          <td width="150px">Title</td>
          <td>Position</td>
          <td>Arrival/Departure time</td>
        </tr>
      </thead>
      <tbody>
      <% @route.railway_stations.ordered.each do |station| %>
        <tr>
          <td><%= station.title %></td>
          <td>
            <%= form_tag update_position_admin_railway_station_path(station), method: :patch do %>
              <%= number_field_tag :position, station.position_in(@route) %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= submit_tag "Update Position" %>
            <% end %>
          </td>
          <td>
            <%= form_tag update_time_admin_railway_station_path(station), method: :patch do %>
              <%= text_field_tag :arrival, station.arrival_in(@route) %> /
              <%= text_field_tag :departure, station.departure_in(@route) %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= submit_tag "Update Time" %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</p>

<p>
  <strong>Assigned to trains:</strong>
  <% if @route.trains.empty? %>
    There are no trains
  <% else %>
    <ul>
    <% @route.trains.each do |train| %>
      <li>№<%= train.number %></li>
    <% end %>
    </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_admin_route_path(@route) %> |
<%= link_to 'Back', admin_routes_path %>
