<p>
  <strong><%= t('menu.title') %>:</strong>
  <%= @route.title %>
</p>
<p>
  <strong><%= t('menu.stations') %>:</strong>
  <% if @route.railway_stations.empty? %>
      <%= t('menu.stations') %> <%= t('messages.absent') %>
  <% else %>
    <table>
      <thead>
        <tr>
          <td width="150px"><%= t('menu.title') %></td>
          <td><%= t('menu.position') %></td>
          <td><%= t('menu.route_station_time') %></td>
        </tr>
      </thead>
      <tbody>
      <% @route.railway_stations.ordered.each do |station| %>
        <tr>
          <td><%= station.title %></td>
          <td>
            <%= form_tag update_position_admin_railway_station_path(station), method: :patch do %>
              <%= number_field_tag :position, station.position_in(@route) %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= submit_tag t('buttons.update_position'), class: 'btn btn-default' %>
            <% end %>
          </td>
          <td>
            <%= form_tag update_time_admin_railway_station_path(station), method: :patch do %>
              <%= text_field_tag :arrival, station.arrival_in(@route) %> /
              <%= text_field_tag :departure, station.departure_in(@route) %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= submit_tag t('buttons.update_time'), class: 'btn btn-default' %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</p>

<p>
  <strong><%= t('menu.route_trains') %>:</strong>
  <% if @route.trains.empty? %>
      <%= t('menu.trains') %> <%= t('messages.absent') %>
  <% else %>
    <ul>
    <% @route.trains.each do |train| %>
      <li>№<%= train.number %></li>
    <% end %>
    </ul>
  <% end %>
</p>

<%= link_to t('common.edit'), edit_admin_route_path(@route) %> |
<%= link_to t('common.back'), admin_routes_path %>
