<%= form_for(train) do |f| %>
  <%= render 'common/errors', resource: @train %>

  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>

  <div class="field">
    <%= f.label :route_id, "Assign route" %>
    <%= f.collection_select :route_id, Route.all, :id, :title, :include_blank => true %>
  </div>

    <div class="field">
      <%= f.label :cars_order %>
      <%= f.select :cars_order, {"Direct" => true, "Reverse" => false} %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
