<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>Assigned route:</strong>
  <% if @train.route %>
    <%= @train.route.title %>
  <% else %>
    Route is not assigned
  <% end %>
</p>
<p>
  <strong>Attached Cars:</strong>
  <br>
  <% if @train.cars.present? %>
      <% @train.cars_sorting.each do |car| %>
          <%= link_to "Car №#{car.number}", car_path(car) %><br>
      <% end %>
  <% else %>
      Cars are not attached.
  <% end %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
