<tr>
  <td><%= car.number %></td>
  <td><%= car.type %></td>
  <td><%= car.train.number %></td>
  <td><%= link_to t('common.show'), [:admin, car] %></td>
  <td><%= link_to t('common.edit'), edit_admin_car_path(car) %></td>
  <td><%= link_to t('common.destroy'), [:admin, car], method: :delete, data: { confirm: t('common.confirmation') } %></td>
</tr>
