<%= form_for([:admin, @train, @car], as: :car) do |f| %>
    <%= render 'common/errors', resource: @car %>

    <div class="field">
      <%= f.label :type %>
      <%= f.select :type, ["SedentaryCar", "EconomyCar", "CoupeCar", "SleepingCar"] %>
    </div>

    <div class="field">
      <%= f.label :upper_places %>
      <%= f.text_field :upper_places %>
    </div>

    <div class="field">
      <%= f.label :lower_places %>
      <%= f.text_field :lower_places %>
    </div>

    <div class="field">
      <%= f.label :side_upper_places %>
      <%= f.text_field :side_upper_places %>
    </div>

    <div class="field">
      <%= f.label :side_lower_places %>
      <%= f.text_field :side_lower_places %>
    </div>

    <div class="field">
      <%= f.label :seat_places %>
      <%= f.text_field :seat_places %>
    </div>

    <div class="actions">
      <%= f.submit t('.submit', action: @car.new_record? ? 'Создать' : 'Изменить' ), class: "btn btn-default" %>
    </div>
<% end %>