<p>
  <strong>Number:</strong>
  <%= @car.number %>
</p>
<p>
  <strong>Type:</strong>
  <%= @car.type %>
</p>
<p>
  <strong>Seats quantity:</strong>
  <% if @car.upper_places.present? %>
    Upper places: <%= @car.upper_places %>.
  <% end %>
  <% if @car.lower_places.present? %>
    Lower places: <%= @car.lower_places %>.
  <% end %>
  <% if @car.side_upper_places.present? %>
      Side upper places: <%= @car.side_upper_places %>.
  <% end %>
  <% if @car.side_lower_places.present? %>
      Side lower places: <%= @car.side_lower_places %>.
  <% end %>
  <% if @car.seat_places.present? %>
      Seat places: <%= @car.seat_places %>.
  <% end %>
</p>
<p>
  <strong>Connected to train:</strong>
  <% if @car.train_id.nil? %>
    There is no train
  <% else %>
    <%= @car.train.number %>
  <% end %>
</p>

<%= link_to 'Edit', edit_admin_car_path(@car) %> |
<%= link_to 'To Train', [:admin, @car.train] %> |
<%= link_to 'Cars list', admin_cars_path %>
