<p>
  <strong><%= t('common.number') %>:</strong>
  <%= @car.number %>
</p>
<p>
  <strong><%= t('menu.type') %>:</strong>
  <%= @car.type %>
</p>
<p>
  <strong><%= t('menu.seats_quantity') %>:</strong>
  <% if @car.upper_places.present? %>
      <%= t('menu.upper') %> <%= t('menu.places') %>: <%= @car.upper_places %>.
  <% end %>
  <% if @car.lower_places.present? %>
      <%= t('menu.lower') %> <%= t('menu.places') %>: <%= @car.lower_places %>.
  <% end %>
  <% if @car.side_upper_places.present? %>
      <%= t('menu.side_upper') %> <%= t('menu.places') %>: <%= @car.side_upper_places %>.
  <% end %>
  <% if @car.side_lower_places.present? %>
      <%= t('menu.side_lower') %> <%= t('menu.places') %>: <%= @car.side_lower_places %>.
  <% end %>
  <% if @car.seat_places.present? %>
      <%= t('menu.seats') %> <%= t('menu.places') %>: <%= @car.seat_places %>.
  <% end %>
</p>
<p>
  <strong><%= t('menu.connected_train') %>:</strong>
  <% if @car.train_id.nil? %>
      <%= t('messages.train_absent')%>
  <% else %>
    <%= @car.train.number %>
  <% end %>
</p>

<%= link_to t('common.edit'), edit_admin_car_path(@car) %> |
<%= link_to t('menu.to_train'), [:admin, @car.train] %> |
<%= link_to t('menu.cars'), admin_cars_path %>
