<h1 class="text-capitalize"><%= t('common.title')%></h1>

<% if !user_signed_in? %>
    <p class="lead"><%= t('common.invitation')%></p>
<% elsif current_user.admin? %>
    <div>
      <%= link_to t('menu.stations'), admin_railway_stations_path %> |
      <%= link_to t('menu.trains'), admin_trains_path %> |
      <%= link_to t('menu.routes'), admin_routes_path %> |
      <%= link_to t('menu.cars'), admin_cars_path %> |
      <%= link_to t('menu.tickets'), admin_tickets_path %>
    </div>
<% else %>
    <div>
      <%= link_to t('menu.search'), search_path %> |
      <%= link_to t('user.tickets'), tickets_path %>
    </div>
<% end %>