<h1 class="text-uppercase"><%= t('.title') %></h1>

<%= form_for(@ticket) do |f| %>
    <%= render 'common/errors', resource: @ticket %>

    <p class="lead"><%= t('menu.passenger') %>:</p>
    <div class="col-md-3" >
      <div class="field">
        <%= f.label :fullname, t('menu.fullname')%>
        <%= f.text_field :fullname, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :passport, t('menu.passport') %>
        <%= f.text_field :passport, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.hidden_field :train_id, value: params[:train_id] %>
        <%= f.hidden_field :first_station_id, value: params[:departure_station_id] %>
        <%= f.hidden_field :last_station_id, value: params[:arrival_station_id] %>
      </div>

      <div class="actions">
        <%= f.submit t('.submit'), class: "btn btn-success"%>
      </div>
      <div>
        <%= link_to t('common.back'), search_path %>
      </div>
    </div>
<% end %>

