<h1>New Ticket</h1>

<%= form_for(@ticket) do |f| %>
    <%= render 'common/errors', resource: @ticket %>

    <div class="field">
      <%= f.label :user_id, "Account name" %>
      <%= f.collection_select :user_id, User.all, :id, :name %>
    </div>

    <br>
    <div>
      <b>Passenger Data:</b>
    </div>
    <br>

    <div class="field">
      <%= f.label :fullname, "Full Name" %>
      <%= f.text_field :fullname %>
    </div>

    <div class="field">
      <%= f.label :passport, "Passport Data" %>
      <%= f.text_field :passport %>
    </div>

    <div class="field">
      <%= f.hidden_field :train_id, value: params[:train_id] %>
      <%= f.hidden_field :first_station_id, value: params[:departure_station_id] %>
      <%= f.hidden_field :last_station_id, value: params[:arrival_station_id] %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<%= link_to 'Back', search_path %>