<% if current_user.id == @ticket.user.id%>
  <table class="table table-bordered">
    <tr>
      <td><%= t('menu.ticket_number') %>: <%= @ticket.number %>, <%= t('menu.owner') %> "<%= @ticket.user.email %>"</td>
    </tr>
    <tr>
      <td><%= t('menu.train_number') %>: <%= @ticket.train.number %> ("<%= @ticket.train.route.title %>")</td>
    </tr>
    <tr>
      <td><%= t('common.departure_station') %>: "<%= @ticket.first_station.title %>" - <%= @ticket.first_station.departure_in(@ticket.train.route) %></td>
    </tr>
    <tr>
      <td><%= t('common.arrival_station') %>: "<%= @ticket.last_station.title %>" - <%= @ticket.last_station.departure_in(@ticket.train.route) %></td>
    </tr>
    <tr>
      <td><%= t('menu.passenger') %></td>
    </tr>
    <tr>
      <td><%= t('menu.fullname') %>: <%= @ticket.fullname.upcase %>, <%= t('menu.passport') %>: <%=@ticket.passport %></td>
    </tr>
  </table>
<% else %>
    <p><%= t('common.no_access') %></p>
<% end %>
<%= link_to t('common.back'), tickets_path %>