<% if current_user.id == @ticket.user.id%>
  <table>
    <tr>
      <td>TICKET №<%= @ticket.number %>, owned by user: "<%= @ticket.user.email %>"</td>
    </tr>
    <tr>
      <td>Train № <%= @ticket.train.number %> ("<%= @ticket.train.route.title %>")</td>
    </tr>
    <tr>
      <td>Departure: "<%= @ticket.first_station.title %>" - <%= @ticket.first_station.departure_in(@ticket.train.route) %></td>
    </tr>
    <tr>
      <td>Arrival: "<%= @ticket.last_station.title %>" - <%= @ticket.last_station.departure_in(@ticket.train.route) %></td>
    </tr>
    <tr>
      <td>Passenger: <%= @ticket.fullname.upcase %>, passport: <%=@ticket.passport %></td>
    </tr>
  </table>
<% else %>
    <p>You have no access to this page</p>
<% end %>
<%= link_to 'Back', tickets_path %>