<h1 class="text-uppercase"><%= t('menu.results') %></h1>

<% if @result.empty? %>
    <p class="lead"><%= t('menu.trains') %> <%= t('messages.absent') %></p>
<% else %>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <td><%= t('menu.train_number') %></td>
          <td width="350"><%= t('common.departure_time') %> "<%= @departure_station.title %>"</td>
          <td width="350"><%= t('common.arrival_time') %> "<%= @arrival_station.title %>"</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
   <% @result.each do |train| %>
       <tr>
         <td><%= train.number %></td>
         <td><%= @departure_station.departure_in(train.route.id) %></td>
         <td><%= @arrival_station.arrival_in(train.route.id) %></td>
         <td>
           <%= form_tag new_ticket_path, method: :get do %>
             <%= hidden_field_tag :arrival_station_id, @arrival_station.id %>
             <%= hidden_field_tag :departure_station_id, @departure_station.id %>
             <%= hidden_field_tag :train_id, train.id %>
             <%= submit_tag t('common.buy'), class: "btn btn-warning" %>
           <% end %>
         </td>
       </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>