<h1 class="text-uppercase"><%= t('menu.search') %></h1>
<p>
    <div class="row">
      <div class="col-md-4">
        <%= t('common.departure_station') %>
      </div>
      <div class="col-md-4">
        <%= t('common.arrival_station') %>
      </div>
    </div>
    <div class="row">
      <%= form_tag search_path, method: :post do %>
          <div class="col-md-4">
            <%= select_tag :departure_station_id, options_from_collection_for_select(@railway_stations, :id, :title), class: 'form-control' %>
          </div>
          <div class="col-md-4" >
            <%= select_tag :arrival_station_id, options_from_collection_for_select(@railway_stations, :id, :title), class: 'form-control' %>
          </div>
          <div class="col-md-4">
            <%= submit_tag t('menu.search'), class: 'btn btn-primary' %>
          </div>
      <% end %>
    </div>
</p>