<div class="col-md-4">
  <%= form_for [:admin, train], html: { style: "display: #{hidden ? 'none' : 'block'}" } do |f| %>
    <%= render 'common/errors', resource: train %>

    <div class="field">
      <%= f.label :number %>
      <%= f.text_field :number, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :route_id %>
      <%= f.collection_select :route_id, Route.all, :id, :title, :include_blank => true %>
    </div>

      <div class="field">
        <%= f.label :cars_order %>
        <%= f.select :cars_order, {t('menu.head') => true, t('menu.tail') => false} %>
      </div>

    <div class="actions">
      <%= f.submit t('.submit', action: train.new_record? ? 'Create' : 'Edit' ), class: "btn btn-default" %>
    </div>
  <% end %>
</div>