<p>
  <strong><%= t('common.number') %>:</strong>
  <%= @train.number %>
</p>
<p>
  <strong><%= t('menu.assign_route') %>:</strong>
  <% if @train.route %>
    <%= @train.route.title %>
  <% else %>
      <%= t('messages.route_absent') %>
  <% end %>
</p>
<p>
  <strong><%= t('menu.attached_cars') %>:</strong>
  <br>
  <% if @train.cars.present? %>
    <% @train.cars_sorting.each do |car| %>
      <%= link_to t('menu.number_of_car', action: "#{car.number}"), admin_car_path(car) %><br>
    <% end %>
  <% else %>
      <%= t('menu.cars') %> <%= t('messages.absent') %>
  <% end %>
</p>
<p>
  <%= link_to t('menu.add_car'), new_admin_train_car_path(@train) %>
</p>

<%= link_to t('common.edit'), edit_admin_train_path(@train) %> |
<%= link_to t('common.back'), admin_trains_path %>
