<p> <%= t('common.greeting') %>, <%= @user.first_name %> <%= @user.last_name %></p>

<p> <%= t('messages.del_ticket') %>: "<%= @ticket.route_name %>"</p>
<p> <%= t('messages.see_all_ticket') %> <%= link_to t('common.here'), tickets_url %></p>